USE [master]
GO
/****** Object:  Database [EmpPayroll]    Script Date: 6/3/2022 5:30:05 PM ******/
CREATE DATABASE [EmpPayroll]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'EmpPayroll', FILENAME = N'E:\MSSQL.MSSQLSERVER\DATA\EmpPayroll.mdf' , SIZE = 79872KB , MAXSIZE = 204800KB , FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'EmpPayroll_log', FILENAME = N'D:\MSSQL.MSSQLSERVER\DATA\EmpPayroll_log.ldf' , SIZE = 4096KB , MAXSIZE = 102400KB , FILEGROWTH = 1024KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [EmpPayroll].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [EmpPayroll]
GO
/****** Object:  User [EmpPayroll]    Script Date: 6/3/2022 5:30:06 PM ******/
CREATE USER [EmpPayroll] FOR LOGIN [EmpPayroll] WITH DEFAULT_SCHEMA=[EmpPayroll]
GO
/****** Object:  DatabaseRole [gd_execprocs]    Script Date: 6/3/2022 5:30:07 PM ******/
CREATE ROLE [gd_execprocs]
GO
ALTER ROLE [db_securityadmin] ADD MEMBER [EmpPayroll]
GO
ALTER ROLE [db_ddladmin] ADD MEMBER [EmpPayroll]
GO
ALTER ROLE [db_backupoperator] ADD MEMBER [EmpPayroll]
GO
ALTER ROLE [db_datareader] ADD MEMBER [EmpPayroll]
GO
ALTER ROLE [db_datawriter] ADD MEMBER [EmpPayroll]
GO
/****** Object:  Schema [EmpPayroll]    Script Date: 6/3/2022 5:30:07 PM ******/
CREATE SCHEMA [EmpPayroll]
GO
/****** Object:  Table [EmpPayroll].[AddCompany]    Script Date: 6/3/2022 5:30:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [EmpPayroll].[AddCompany](
	[TrackID] [int] IDENTITY(1,1) NOT NULL,
	[Userlevel] [varchar](20) NULL,
	[CompanyReg] [varchar](100) NULL,
	[CompanyName] [varchar](100) NULL,
	[Email] [varchar](100) NULL,
	[StartDate] [varchar](20) NULL,
	[EndDate] [varchar](20) NULL,
	[EmpPrice] [varchar](20) NULL,
	[Count] [int] NULL,
 CONSTRAINT [PK_AddCompany] PRIMARY KEY CLUSTERED 
(
	[TrackID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [EmpPayroll].[Allowances]    Script Date: 6/3/2022 5:30:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [EmpPayroll].[Allowances](
	[AllowancesID] [int] IDENTITY(1,1) NOT NULL,
	[CID] [int] NOT NULL,
	[AllowancesName] [varchar](100) NULL,
	[Amount] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[AllowancesID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [EmpPayroll].[ApplyJobs]    Script Date: 6/3/2022 5:30:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [EmpPayroll].[ApplyJobs](
	[TEID] [int] IDENTITY(1,1) NOT NULL,
	[VID] [int] NULL,
	[CID] [varchar](100) NULL,
	[Ename] [varchar](100) NULL,
	[Email] [varchar](100) NULL,
	[Introduction] [varchar](500) NULL,
	[WorkingEx] [varchar](500) NULL,
	[Edu] [varchar](500) NULL,
	[Salary] [varchar](500) NULL,
	[Resume] [varchar](50) NULL,
	[Status] [varchar](50) NULL,
	[Designation] [varchar](100) NULL,
	[Modified] [datetime2](3) NULL,
PRIMARY KEY CLUSTERED 
(
	[TEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [EmpPayroll].[AssignRoster]    Script Date: 6/3/2022 5:30:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [EmpPayroll].[AssignRoster](
	[AssignID] [int] IDENTITY(1,1) NOT NULL,
	[EID] [varchar](20) NULL,
	[Job] [varchar](50) NOT NULL,
	[JLocation] [varchar](100) NULL,
	[JLocation_lat] [float] NOT NULL,
	[JLocation_longi] [float] NOT NULL,
	[Instructions] [varchar](200) NOT NULL,
	[Special] [binary](1) NULL,
	[Contact] [varchar](20) NOT NULL,
	[Roster_Cycle] [date] NOT NULL,
	[StartTime] [time](7) NOT NULL,
	[EndTime] [time](7) NOT NULL,
	[JobID] [int] NULL,
	[Status] [varchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[AssignID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [EmpPayroll].[Attendance]    Script Date: 6/3/2022 5:30:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [EmpPayroll].[Attendance](
	[AID] [int] IDENTITY(1,1) NOT NULL,
	[WID] [int] NULL,
	[EID] [int] NOT NULL,
	[StartDateTime] [datetime] NULL,
	[EndDateTime] [datetime] NULL,
	[Mark] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[AID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [EmpPayroll].[BankDetails]    Script Date: 6/3/2022 5:30:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [EmpPayroll].[BankDetails](
	[BID] [int] IDENTITY(1,1) NOT NULL,
	[EID] [int] NULL,
	[BankName] [varchar](50) NOT NULL,
	[FullName] [varchar](50) NULL,
	[AccountNumber] [varchar](50) NULL,
	[Branck] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[BID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [EmpPayroll].[Business]    Script Date: 6/3/2022 5:30:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [EmpPayroll].[Business](
	[BID] [int] IDENTITY(1,1) NOT NULL,
	[Business] [varchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[BID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [EmpPayroll].[Company]    Script Date: 6/3/2022 5:30:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [EmpPayroll].[Company](
	[CID] [int] IDENTITY(1,1) NOT NULL,
	[Company_name] [varchar](50) NOT NULL,
	[Country] [varchar](20) NOT NULL,
	[Reg_No] [varchar](20) NOT NULL,
	[Tax] [varchar](20) NULL,
	[Tel] [varchar](20) NOT NULL,
	[CompanyEmail] [varchar](50) NOT NULL,
	[Eaddress] [varchar](50) NOT NULL,
	[Admin_Password] [varchar](8) NOT NULL,
	[Hr_Password] [varchar](8) NOT NULL,
	[Description] [varchar](200) NOT NULL,
	[AdminEmail] [varchar](50) NULL,
	[HREmail] [varchar](50) NULL,
	[FinanceEmail] [varchar](50) NULL,
	[OTP] [varchar](20) NULL,
	[Membership] [varchar](50) NULL,
	[StartDate] [varchar](20) NULL,
	[EndDate] [varchar](20) NULL,
	[WorkingDays] [varchar](10) NULL,
	[EPF1] [varchar](10) NULL,
	[EPF2] [varchar](10) NULL,
	[ETF] [varchar](10) NULL,
	[PurchaseStatus] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[CID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [EmpPayroll].[ContactUs]    Script Date: 6/3/2022 5:30:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [EmpPayroll].[ContactUs](
	[ContacID] [int] IDENTITY(1,1) NOT NULL,
	[EID] [int] NULL,
	[Name] [varchar](50) NULL,
	[Email] [varchar](50) NULL,
	[ContactNumber] [int] NULL,
	[Message] [nvarchar](200) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [EmpPayroll].[DeclinedRoster]    Script Date: 6/3/2022 5:30:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [EmpPayroll].[DeclinedRoster](
	[DID] [int] IDENTITY(1,1) NOT NULL,
	[EID] [varchar](20) NULL,
	[Job] [varchar](50) NOT NULL,
	[JLocation] [varchar](100) NULL,
	[JLocation_lat] [float] NOT NULL,
	[JLocation_longi] [float] NOT NULL,
	[Instructions] [varchar](200) NOT NULL,
	[Special] [binary](1) NULL,
	[Contact] [varchar](20) NOT NULL,
	[Roster_Cycle] [date] NOT NULL,
	[JobStatus] [varchar](20) NULL,
	[JobID] [varchar](20) NULL,
	[StartTime] [varchar](20) NULL,
	[EndTime] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[DID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [EmpPayroll].[EmergencyContact]    Script Date: 6/3/2022 5:30:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [EmpPayroll].[EmergencyContact](
	[ECID] [int] IDENTITY(1,1) NOT NULL,
	[EID] [int] NULL,
	[Name] [varchar](50) NOT NULL,
	[Contact] [varchar](100) NULL,
	[Relationship] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[ECID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [EmpPayroll].[Employee]    Script Date: 6/3/2022 5:30:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [EmpPayroll].[Employee](
	[CompanyID] [int] NULL,
	[EID] [int] NOT NULL,
	[Ename] [varchar](50) NOT NULL,
	[DOB] [varchar](50) NOT NULL,
	[Country] [varchar](20) NOT NULL,
	[VisaStatus] [varchar](20) NULL,
	[OtherReasons] [varchar](255) NULL,
	[DriversLicense_NIC] [varchar](20) NULL,
	[Tel] [varchar](20) NULL,
	[Email] [varchar](50) NULL,
	[Eaddress] [varchar](50) NULL,
	[EmployeementType] [varchar](20) NULL,
	[ContractType] [varchar](20) NULL,
	[AvailableDays] [varchar](20) NULL,
	[Epassword] [varchar](20) NULL,
	[Gender] [varchar](20) NULL,
	[Language] [varchar](20) NULL,
	[MaritalStatus] [varchar](20) NULL,
	[Hqualification] [varchar](20) NULL,
	[Qname] [varchar](20) NULL,
	[otherQ] [varchar](500) NULL,
	[bloodGrp] [varchar](10) NULL,
	[specialReq] [varchar](20) NULL,
	[otherReq] [varchar](500) NULL,
	[Leaves] [varchar](50) NULL,
	[NopayDays] [varchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[EID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [EmpPayroll].[EmployeeLeaves]    Script Date: 6/3/2022 5:30:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [EmpPayroll].[EmployeeLeaves](
	[EmpLeaveID] [int] IDENTITY(1001,1) NOT NULL,
	[LID] [int] NULL,
	[EID] [varchar](50) NULL,
	[Casual] [int] NULL,
	[Annual] [int] NULL,
	[Sick] [int] NULL,
	[Maternity] [int] NULL,
	[NoPay] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[EmpLeaveID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [EmpPayroll].[EmployementTypes]    Script Date: 6/3/2022 5:30:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [EmpPayroll].[EmployementTypes](
	[EmpTID] [int] IDENTITY(1001,1) NOT NULL,
	[Type] [varchar](50) NULL,
	[ContractType] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[EmpTID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [EmpPayroll].[HRDocuments]    Script Date: 6/3/2022 5:30:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [EmpPayroll].[HRDocuments](
	[DocID] [int] IDENTITY(1,1) NOT NULL,
	[CID] [int] NULL,
	[Name] [varchar](50) NOT NULL,
	[ContentType] [nvarchar](200) NULL,
	[Data] [varbinary](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[DocID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [EmpPayroll].[Industry]    Script Date: 6/3/2022 5:30:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [EmpPayroll].[Industry](
	[IID] [int] IDENTITY(1,1) NOT NULL,
	[BID] [int] NOT NULL,
	[Industry] [varchar](100) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [EmpPayroll].[JobContract]    Script Date: 6/3/2022 5:30:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [EmpPayroll].[JobContract](
	[JID] [int] IDENTITY(1,1) NOT NULL,
	[EID] [int] NOT NULL,
	[Selected_Jobs] [varchar](100) NULL,
	[Experiance] [varchar](50) NULL,
	[Hourly_rate] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[JID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [EmpPayroll].[JobContractCasual]    Script Date: 6/3/2022 5:30:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [EmpPayroll].[JobContractCasual](
	[JID] [int] IDENTITY(1,1) NOT NULL,
	[EID] [int] NOT NULL,
	[Selected_Jobs] [varchar](100) NULL,
	[Experiance] [varchar](50) NULL,
	[Hourly_rate] [varchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [EmpPayroll].[JobContractPermenent]    Script Date: 6/3/2022 5:30:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [EmpPayroll].[JobContractPermenent](
	[JID] [int] IDENTITY(1,1) NOT NULL,
	[EID] [int] NOT NULL,
	[Designation] [varchar](100) NULL,
	[Experiance] [varchar](50) NULL,
	[Salary] [varchar](50) NULL,
	[Hourly_rate] [varchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [EmpPayroll].[JobContractT]    Script Date: 6/3/2022 5:30:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [EmpPayroll].[JobContractT](
	[JID] [int] IDENTITY(1,1) NOT NULL,
	[TEID] [int] NOT NULL,
	[Selected_Jobs] [varchar](100) NULL,
	[Experiance] [varchar](50) NULL,
	[Hourly_rate] [varchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [EmpPayroll].[JobPublish]    Script Date: 6/3/2022 5:30:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [EmpPayroll].[JobPublish](
	[PublishID] [int] IDENTITY(1,1) NOT NULL,
	[CID] [varchar](20) NULL,
	[EID] [varchar](20) NULL,
	[Job] [varchar](50) NOT NULL,
	[JLocation] [varchar](100) NULL,
	[JLocation_lat] [float] NOT NULL,
	[JLocation_longi] [float] NOT NULL,
	[Instructions] [varchar](200) NOT NULL,
	[Special] [binary](1) NULL,
	[Contact] [varchar](20) NOT NULL,
	[Roster_Cycle] [date] NOT NULL,
	[JobStatus] [varchar](20) NULL,
	[JobID] [varchar](20) NULL,
	[StartTime] [varchar](20) NULL,
	[EndTime] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[PublishID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [EmpPayroll].[Jobs]    Script Date: 6/3/2022 5:30:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [EmpPayroll].[Jobs](
	[JobId] [int] IDENTITY(1,1) NOT NULL,
	[JobName] [varchar](max) NOT NULL,
	[Cid] [varchar](20) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [EmpPayroll].[Leave]    Script Date: 6/3/2022 5:30:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [EmpPayroll].[Leave](
	[LID] [int] IDENTITY(1,1) NOT NULL,
	[EID] [int] NOT NULL,
	[Ename] [varchar](100) NULL,
	[Date] [varchar](50) NULL,
	[NumberOfDays] [varchar](50) NULL,
	[Reason] [varchar](500) NULL,
	[Comments] [varchar](500) NULL,
	[Status] [varchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [EmpPayroll].[LeaveManagment]    Script Date: 6/3/2022 5:30:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [EmpPayroll].[LeaveManagment](
	[LID] [int] IDENTITY(1001,1) NOT NULL,
	[CID] [int] NULL,
	[EmpTID] [int] NOT NULL,
	[Casual] [int] NULL,
	[Annual] [int] NULL,
	[Sick] [int] NULL,
	[Maternity] [int] NULL,
	[NoPay] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[LID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [EmpPayroll].[LeaveManagmentDetails]    Script Date: 6/3/2022 5:30:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [EmpPayroll].[LeaveManagmentDetails](
	[LMID] [int] IDENTITY(1001,1) NOT NULL,
	[EID] [int] NOT NULL,
	[EmpName] [varchar](100) NULL,
	[Department] [varchar](50) NULL,
	[Manager] [varchar](50) NULL,
	[LeaveType] [varchar](50) NULL,
	[NoOfDays] [varchar](50) NULL,
	[Date] [datetime] NULL,
	[Reason] [varchar](200) NULL,
	[Status] [varchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [EmpPayroll].[OTP]    Script Date: 6/3/2022 5:30:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [EmpPayroll].[OTP](
	[TrackID] [int] IDENTITY(1,1) NOT NULL,
	[OTP] [varchar](10) NOT NULL,
	[packageType] [varchar](20) NULL,
	[CompanyReg] [varchar](100) NULL,
	[CompanyName] [varchar](100) NULL,
	[Price] [varchar](20) NULL,
	[Email] [varchar](100) NULL,
	[StartDate] [varchar](100) NULL,
	[DueDate] [varchar](100) NULL,
	[Ptype] [varchar](100) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [EmpPayroll].[Package]    Script Date: 6/3/2022 5:30:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [EmpPayroll].[Package](
	[PID] [int] IDENTITY(1,1) NOT NULL,
	[Pname] [varchar](30) NULL,
	[PricePerEmp] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[PID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [EmpPayroll].[PaymentInvoice]    Script Date: 6/3/2022 5:30:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [EmpPayroll].[PaymentInvoice](
	[InvoiceID] [int] IDENTITY(1,1) NOT NULL,
	[EID] [varchar](50) NULL,
	[RosterID] [varchar](50) NULL,
	[Ename] [varchar](100) NULL,
	[Job] [varchar](50) NULL,
	[Paycycle] [varchar](20) NULL,
	[WorkedHours] [varchar](20) NULL,
	[HourRate] [varchar](20) NULL,
	[Tax] [varchar](20) NULL,
	[GrossPayment] [decimal](18, 0) NULL,
PRIMARY KEY CLUSTERED 
(
	[InvoiceID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [EmpPayroll].[Payments]    Script Date: 6/3/2022 5:30:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [EmpPayroll].[Payments](
	[PID] [int] IDENTITY(1001,1) NOT NULL,
	[EID] [int] NOT NULL,
	[Basic] [int] NOT NULL,
	[Allowances] [int] NOT NULL,
	[Deductions] [int] NOT NULL,
	[NetPay] [int] NULL,
	[ETF3] [int] NULL,
	[EPF8] [int] NULL,
	[EPF12] [int] NULL,
	[Month] [varchar](20) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [EmpPayroll].[PolicyDocuments]    Script Date: 6/3/2022 5:30:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [EmpPayroll].[PolicyDocuments](
	[DocID] [int] IDENTITY(1,1) NOT NULL,
	[CID] [int] NULL,
	[Name] [varchar](50) NOT NULL,
	[ContentType] [nvarchar](200) NULL,
	[Data] [varbinary](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[DocID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [EmpPayroll].[ReportIncident]    Script Date: 6/3/2022 5:30:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [EmpPayroll].[ReportIncident](
	[ReportID] [int] IDENTITY(1,1) NOT NULL,
	[EID] [int] NULL,
	[Isinvolved] [varchar](10) NULL,
	[Date] [varchar](20) NULL,
	[Time] [varchar](20) NULL,
	[Location] [varchar](20) NULL,
	[Description] [nvarchar](250) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [EmpPayroll].[Resign]    Script Date: 6/3/2022 5:30:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [EmpPayroll].[Resign](
	[RID] [int] IDENTITY(1,1) NOT NULL,
	[EID] [int] NOT NULL,
	[Ename] [varchar](100) NULL,
	[To_] [varchar](100) NULL,
	[From_] [varchar](100) NULL,
	[Subject_] [varchar](100) NULL,
	[Body] [varchar](500) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [EmpPayroll].[ResourceFiles]    Script Date: 6/3/2022 5:30:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [EmpPayroll].[ResourceFiles](
	[CID] [int] NULL,
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](50) NULL,
	[ContentType] [nvarchar](200) NULL,
	[Data] [varbinary](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [EmpPayroll].[Roster]    Script Date: 6/3/2022 5:30:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [EmpPayroll].[Roster](
	[RosterID] [int] IDENTITY(1,1) NOT NULL,
	[EID] [varchar](20) NULL,
	[Job] [varchar](50) NOT NULL,
	[JLocation] [varchar](100) NULL,
	[JLocation_lat] [float] NOT NULL,
	[JLocation_longi] [float] NOT NULL,
	[Instructions] [varchar](200) NOT NULL,
	[Special] [binary](1) NULL,
	[Contact] [varchar](20) NOT NULL,
	[Roster_Cycle] [date] NOT NULL,
	[JobStatus] [varchar](20) NULL,
	[JobID] [varchar](20) NULL,
	[StartTime] [varchar](20) NULL,
	[EndTime] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[RosterID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [EmpPayroll].[Roster_tracker]    Script Date: 6/3/2022 5:30:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [EmpPayroll].[Roster_tracker](
	[TrackerID] [int] IDENTITY(1,1) NOT NULL,
	[RosterID] [int] NULL,
	[EID] [int] NULL,
	[JLocation] [varchar](100) NULL,
	[JLocation_lat] [varchar](50) NOT NULL,
	[JLocation_longi] [varchar](50) NOT NULL,
	[Start_lat] [varchar](50) NOT NULL,
	[Start_longi] [varchar](50) NOT NULL,
	[End_lat] [varchar](50) NOT NULL,
	[End_longi] [varchar](50) NOT NULL,
	[Start_time] [time](7) NULL,
	[End_time] [time](7) NULL,
	[Sdate] [date] NULL,
	[Edate] [date] NULL,
	[PaymentStatus] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[TrackerID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [EmpPayroll].[tblFiles]    Script Date: 6/3/2022 5:30:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [EmpPayroll].[tblFiles](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](50) NULL,
	[ContentType] [nvarchar](200) NULL,
	[Data] [varbinary](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [EmpPayroll].[UploadResume]    Script Date: 6/3/2022 5:30:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [EmpPayroll].[UploadResume](
	[EID] [int] NULL,
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](50) NULL,
	[ContentType] [nvarchar](200) NULL,
	[Data] [varbinary](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [EmpPayroll].[Vacancy]    Script Date: 6/3/2022 5:30:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [EmpPayroll].[Vacancy](
	[VID] [int] IDENTITY(1,1) NOT NULL,
	[CID] [int] NULL,
	[Cname] [varchar](100) NULL,
	[JobTitle] [varchar](100) NULL,
	[Description] [varchar](500) NULL,
	[Location] [varchar](50) NULL,
	[Position] [varchar](100) NULL,
	[EmployementType] [varchar](50) NULL,
	[ContractType] [varchar](20) NULL,
	[SpecialReq] [varchar](500) NULL,
	[Skills] [varchar](500) NULL,
	[ReqWorkingEx] [varchar](50) NULL,
	[RequredEdu] [varchar](50) NULL,
	[Salary] [varchar](20) NULL,
	[Working_hours] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[VID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [EmpPayroll].[Work]    Script Date: 6/3/2022 5:30:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [EmpPayroll].[Work](
	[WID] [int] IDENTITY(1,1) NOT NULL,
	[EID] [int] NOT NULL,
	[Location] [varchar](100) NULL,
	[LocationLat] [varchar](100) NULL,
	[LocationLongi] [varchar](100) NULL,
	[StartTime] [time](7) NULL,
	[EndTime] [time](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[WID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [EmpPayroll].[rosterT]    Script Date: 6/3/2022 5:30:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [EmpPayroll].[rosterT] 
as
SELECT distinct (DATEDIFF(MINUTE, rt.Start_time, rt.End_time))/60 as H,DATEDIFF(MINUTE, rt.Start_time, rt.End_time)%60  AS M,rt.EID,rt.PaymentStatus,j.JID,rt.RosterID
FROM Roster_tracker rt, Roster r,JobContract j
Where rt.PaymentStatus = 'Not Paid' and r.RosterID= rt.RosterID and j.JID = r.JobID ;
GO
/****** Object:  View [EmpPayroll].[Payment]    Script Date: 6/3/2022 5:30:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create view [EmpPayroll].[Payment]
as 
SELECT distinct
            concat(t.H,'.',t.M) AS WorkedHours,Cast(concat(t.H,'.',t.M) * Cast(j.Hourly_rate as decimal(10,2))as decimal(10,2)) as Payment,j.JID,rt.RosterID
             FROM rosterT t,JobContract j,Roster_tracker rt
where j.JID = t.JID and t.RosterID = rt.RosterID
GO
/****** Object:  View [EmpPayroll].[DateDiff]    Script Date: 6/3/2022 5:30:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

Create view [EmpPayroll].[DateDiff]
as 
SELECT distinct convert(varchar(10), a.StartDateTime, 120) as StartDate,convert(varchar(10), a.StartDateTime, 120) as EndDate,e.EID,a.AID
from Attendance a,Employee e
Where a.EID = e.EID
GO
/****** Object:  View [EmpPayroll].[HourDiffTotWorkHours]    Script Date: 6/3/2022 5:30:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create view [EmpPayroll].[HourDiffTotWorkHours]
as 
SELECT Distinct Sum(DATEDIFF(HOUR, w.StartTime,w.EndTime))  AS TotWorkHours,e.EID
from Work w, Employee e
Where w.EID = e.EID
group by e.EID
GO
/****** Object:  View [EmpPayroll].[Hourw]    Script Date: 6/3/2022 5:30:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [EmpPayroll].[Hourw] 
as
SELECT RosterID, EID
FROM Roster_tracker
GO
ALTER TABLE [EmpPayroll].[ApplyJobs] ADD  DEFAULT (sysdatetime()) FOR [Modified]
GO
ALTER TABLE [EmpPayroll].[AssignRoster] ADD  DEFAULT ((0)) FOR [JLocation_lat]
GO
ALTER TABLE [EmpPayroll].[AssignRoster] ADD  DEFAULT ((0)) FOR [JLocation_longi]
GO
ALTER TABLE [EmpPayroll].[DeclinedRoster] ADD  DEFAULT ((0)) FOR [JLocation_lat]
GO
ALTER TABLE [EmpPayroll].[DeclinedRoster] ADD  DEFAULT ((0)) FOR [JLocation_longi]
GO
ALTER TABLE [EmpPayroll].[JobPublish] ADD  DEFAULT ((0)) FOR [JLocation_lat]
GO
ALTER TABLE [EmpPayroll].[JobPublish] ADD  DEFAULT ((0)) FOR [JLocation_longi]
GO
ALTER TABLE [EmpPayroll].[Roster] ADD  DEFAULT ((0)) FOR [JLocation_lat]
GO
ALTER TABLE [EmpPayroll].[Roster] ADD  DEFAULT ((0)) FOR [JLocation_longi]
GO
ALTER TABLE [EmpPayroll].[Attendance]  WITH CHECK ADD FOREIGN KEY([WID])
REFERENCES [EmpPayroll].[Work] ([WID])
GO
ALTER TABLE [EmpPayroll].[Employee]  WITH CHECK ADD FOREIGN KEY([CompanyID])
REFERENCES [EmpPayroll].[Company] ([CID])
GO
ALTER TABLE [EmpPayroll].[HRDocuments]  WITH CHECK ADD FOREIGN KEY([CID])
REFERENCES [EmpPayroll].[Company] ([CID])
GO
ALTER TABLE [EmpPayroll].[Industry]  WITH CHECK ADD FOREIGN KEY([BID])
REFERENCES [EmpPayroll].[Business] ([BID])
GO
ALTER TABLE [EmpPayroll].[JobContract]  WITH CHECK ADD FOREIGN KEY([EID])
REFERENCES [EmpPayroll].[Employee] ([EID])
GO
ALTER TABLE [EmpPayroll].[LeaveManagment]  WITH CHECK ADD FOREIGN KEY([EmpTID])
REFERENCES [EmpPayroll].[EmployementTypes] ([EmpTID])
GO
ALTER TABLE [EmpPayroll].[PolicyDocuments]  WITH CHECK ADD FOREIGN KEY([CID])
REFERENCES [EmpPayroll].[Company] ([CID])
GO
ALTER TABLE [EmpPayroll].[Roster_tracker]  WITH CHECK ADD FOREIGN KEY([RosterID])
REFERENCES [EmpPayroll].[Roster] ([RosterID])
GO
ALTER TABLE [EmpPayroll].[Roster_tracker]  WITH CHECK ADD FOREIGN KEY([EID])
REFERENCES [EmpPayroll].[Employee] ([EID])
GO
ALTER TABLE [EmpPayroll].[Vacancy]  WITH CHECK ADD FOREIGN KEY([CID])
REFERENCES [EmpPayroll].[Company] ([CID])
GO
USE [master]
GO
